{{- if not .Values.localDeploy }}
---

apiVersion: v1
kind: Secret
type: Opaque

metadata:
  name: google-credentials-demo
  namespace: default

data:
  # Service account used for provisioning demo infrastructure.
  google-credentials.json: |-
    {{ required ".Values.demo__gke_demo_provisioner_json is undefined" .Values.demo__gke_demo_provisioner_json }}

  # Service account used for demo Artifact Registry access.
  image-read-google-credentials.json: |-
    {{ required ".Values.demo__gke_demo_scanner_json is undefined" .Values.demo__gke_demo_scanner_json }}

  # Service account used for providing certs from the certifier sr-demo-files bucket.
  read-certs-google-credentials.json: |-
    {{ required ".Values.demo__demo_provisioner_json is undefined" .Values.demo__demo_provisioner_json }}

---

apiVersion: v1
kind: Secret
type: Opaque

metadata:
  name: demo-secrets
  namespace: default

data:
  DOCKER_IO_USERNAME: |-
    {{ .Values.pullSecrets.docker.username | b64enc }}
  DOCKER_IO_PASSWORD: |-
    {{ .Values.pullSecrets.docker.password | b64enc }}

  QUAY_RHACS_ENG_RO_USERNAME: |-
    {{ .Values.pullSecrets.quay.username | b64enc }}
  QUAY_RHACS_ENG_RO_PASSWORD: |-
    {{ .Values.pullSecrets.quay.password | b64enc }}

  STACKROX_IO_USERNAME: |-
    {{ .Values.pullSecrets.stackrox.username | b64enc }}
  STACKROX_IO_PASSWORD: |-
    {{ .Values.pullSecrets.stackrox.password | b64enc }}

  SLACK_WEBHOOK: |-
    {{ .Values.slackWebhook | b64enc }}

---

apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson

metadata:
  name: docker-io-pull-secret
  namespace: default

data:
  .dockerconfigjson: {{ template "pull-secret" .Values.pullSecrets.docker }}

---

apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson

metadata:
  name: stackrox-io-pull-secret
  namespace: default

data:
  .dockerconfigjson: {{ template "pull-secret" .Values.pullSecrets.stackrox }}

---

apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson

metadata:
  name: quay-rhacs-eng-pull-secret
  namespace: default

data:
  .dockerconfigjson: {{ template "pull-secret" .Values.pullSecrets.quay }}

---
{{- end }}
