{{- if not .Values.localDeploy }}
---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-slack-webhook
  namespace: monitoring
data:
  webhookURL: "{{ .Values.alertmanagerSlackWebhook | b64enc }}"
{{- end }}
