@import '~@stackrox/tailwind-config/light.theme.css';
@import '~@stackrox/tailwind-config/dark.theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@patternfly/react-core/dist/styles/base.css';
@import '~@patternfly/patternfly/patternfly-addons.css';
@import './infra.css';

/* reset the unthinking hardcoded resets of Tailwind Forms in v2 plugin,
   https://github.com/tailwindlabs/tailwindcss-forms/blob/master/src/index.js */

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  font-size: 100%;
}

[type='checkbox'],
[type='checkbox'] {
  @apply w-3 h-3 rounded-sm;
}

/* end reset of the Tailwind forms reset */

.sticky {
  position: sticky !important;
}

.logo {
  width: 48px;
  height: 48px;
  position: relative;
  top: 1px;
  padding: 4px;
}

/**
 * Button styles
 */
.btn-class {
  @apply inline-flex px-2 rounded-sm font-600 uppercase text-center items-center min-w-16 justify-center border-2 !important;
  line-height: 14px; /* required because we were relying on the Chrome browser default of 14px earlier */
}

.btn-sm {
  @apply btn-class py-1 text-xs !important;
}

.btn {
  @apply btn-class py-2 text-sm !important;
}

.btn-icon {
  @apply flex py-2 px-2 rounded-sm font-600 uppercase text-center text-sm items-center justify-center bg-base-200 border !important;
}

.btn-success {
  @apply text-success-700 border-success-500 bg-success-200 !important;
}

.btn-success:hover {
  @apply border-success-500 bg-success-300 text-success-800 !important;
}

.btn-alert {
  @apply text-alert-100 border-alert-600 bg-alert-600 !important;
}

.btn-alert:hover {
  @apply text-alert-100 border-alert-700 bg-alert-700 !important;
}

.btn-primary {
  @apply border-primary-300 text-primary-600 !important;
}

.btn-primary:hover {
  @apply text-primary-600 bg-primary-100 bg-base-200 border-primary-400 !important;
}

.btn-tertiary {
  @apply border-tertiary-700 text-tertiary-700 !important;
}

.btn-tertiary:hover {
  @apply text-tertiary-700 bg-tertiary-700 bg-base-200 border-tertiary-600 !important;
}

.btn-base {
  @apply text-base-600 border-base-400 bg-base-100 !important;
}

.btn-base:hover {
  @apply border-base-400 bg-base-200 text-base-700 !important;
}
/** End of Button styles */

.top-navigation {
  box-shadow: inset 0px -1px 0 0 var(--base-400);
}

.react-modal-overlay {
  @apply fixed top-0 left-0 w-full h-full z-60 !important;
  background-color: hsla(225, 41%, 32%, 0.82);
}
