/* These themes are copied as-is from stackrox/rox repo.
   They will be removed once they're extracted into a separate NPM package. */

.theme-light {
  --base-100: rgb(8, 7, 7);
  --base-200: hsla(225, 45%, 98%, 1);
  --base-300: hsla(225, 43%, 94%, 1);
  --base-400: hsla(225, 44%, 87%, 1);
  --base-500: hsla(225, 17%, 63%, 1);
  --base-600: hsla(225, 14%, 43%, 1);
  --base-700: hsla(225, 18%, 32%, 1);
  --base-800: hsla(225, 24%, 22%, 1);
  --base-900: hsla(225, 27%, 16%, 1);

  --primary-100: hsla(225, 100%, 99%, 1);
  --primary-200: hsla(225, 100%, 96%, 1);
  --primary-300: hsla(225, 80%, 92%, 1);
  --primary-400: hsla(225, 68%, 78%, 1);
  --primary-500: hsla(225, 65%, 68%, 1);
  --primary-600: hsla(225, 90%, 67%, 1);
  --primary-700: hsla(225, 51%, 52%, 1);
  --primary-800: hsla(225, 37%, 36%, 1);
  --primary-900: hsla(225, 28%, 21%, 1);

  --secondary-100: hsla(257, 45%, 98%, 1);
  --secondary-200: hsla(257, 100%, 96%, 1);
  --secondary-300: hsla(257, 81%, 90%, 1);
  --secondary-400: hsla(257, 68%, 78%, 1);
  --secondary-500: hsla(257, 66%, 68%, 1);
  --secondary-600: hsla(257, 100%, 67%, 1);
  --secondary-700: hsla(257, 50%, 52%, 1);
  --secondary-800: hsla(257, 37%, 36%, 1);
  --secondary-900: hsla(257, 28%, 21%, 1);

  --tertiary-100: hsla(210, 45%, 98%, 1);
  --tertiary-200: hsla(210, 100%, 96%, 1);
  --tertiary-300: hsla(210, 81%, 90%, 1);
  --tertiary-400: hsla(210, 68%, 78%, 1);
  --tertiary-500: hsla(210, 66%, 68%, 1);
  --tertiary-600: hsla(210, 93%, 58%, 1);
  --tertiary-700: hsla(210, 47%, 48%, 1);
  --tertiary-800: hsla(210, 37%, 36%, 1);
  --tertiary-900: hsla(210, 28%, 21%, 1);

  --accent-100: hsla(293, 45%, 98%, 1);
  --accent-200: hsla(293, 100%, 96%, 1);
  --accent-300: hsla(293, 80%, 90%, 1);
  --accent-400: hsla(293, 64%, 80%, 1);
  --accent-500: hsla(293, 62%, 71%, 1);
  --accent-600: hsla(293, 68%, 62%, 1);
  --accent-700: hsla(293, 34%, 50%, 1);
  --accent-800: hsla(293, 34%, 37%, 1);
  --accent-900: hsla(293, 28%, 21%, 1);

  --success-100: hsla(155, 45%, 98%, 1);
  --success-200: hsla(155, 100%, 96%, 1);
  --success-300: hsla(155, 81%, 90%, 1);
  --success-400: hsla(155, 68%, 78%, 1);
  --success-500: hsla(155, 66%, 68%, 1);
  --success-600: hsla(155, 52%, 46%, 1);
  --success-700: hsla(155, 62%, 33%, 1);
  --success-800: hsla(155, 37%, 31%, 1);
  --success-900: hsla(155, 28%, 21%, 1);

  --warning-100: hsla(39, 45%, 98%, 1);
  --warning-200: hsla(39, 100%, 96%, 1);
  --warning-300: hsla(39, 80%, 90%, 1);
  --warning-400: hsla(39, 64%, 80%, 1);
  --warning-500: hsla(39, 62%, 71%, 1);
  --warning-600: hsla(39, 100%, 66%, 1);
  --warning-700: hsla(39, 38%, 52%, 1);
  --warning-800: hsla(39, 34%, 37%, 1);
  --warning-900: hsla(39, 28%, 21%, 1);

  --caution-100: hsla(16, 45%, 98%, 1);
  --caution-200: hsla(16, 100%, 96%, 1);
  --caution-300: hsla(16, 81%, 90%, 1);
  --caution-400: hsla(16, 68%, 78%, 1);
  --caution-500: hsla(16, 66%, 68%, 1);
  --caution-600: hsla(16, 87%, 65%, 1);
  --caution-700: hsla(16, 47%, 48%, 1);
  --caution-800: hsla(16, 37%, 36%, 1);
  --caution-900: hsla(16, 28%, 21%, 1);

  --alert-100: hsla(341, 45%, 98%, 1);
  --alert-200: hsla(341, 100%, 96%, 1);
  --alert-300: hsla(341, 81%, 90%, 1);
  --alert-400: hsla(341, 68%, 78%, 1);
  --alert-500: hsla(341, 66%, 68%, 1);
  --alert-600: hsla(341, 96%, 67%, 1);
  --alert-700: hsla(341, 50%, 52%, 1);
  --alert-800: hsla(341, 37%, 36%, 1);
  --alert-900: hsla(341, 28%, 21%, 1);
}

.theme-dark {
  --base-0: hsla(225, 15%, 19%, 1);
  --base-100: hsla(225, 15%, 23%, 1);
  --base-200: hsla(225, 10%, 26%, 1);
  --base-300: hsla(225, 7%, 32%, 1);
  --base-400: hsla(225, 10%, 37%, 1);
  --base-500: hsla(225, 14%, 63%, 1);
  --base-600: hsla(225, 24%, 87%, 1);
  --base-700: hsla(225, 33%, 94%, 1);
  --base-800: hsla(225, 35%, 98%, 1);
  --base-900: hsla(225, 0%, 100%, 1);

  --primary-100: hsla(225, 28%, 21%, 1);
  --primary-200: hsla(225, 34%, 26%, 1);
  --primary-300: hsla(225, 36%, 40%, 1);
  --primary-400: hsla(225, 45%, 55%, 1);
  --primary-500: hsla(225, 65%, 60%, 1);
  --primary-600: hsla(225, 68%, 70%, 1);
  --primary-700: hsla(225, 80%, 80%, 1);
  --primary-800: hsla(225, 100%, 93%, 1);
  --primary-900: hsla(225, 100%, 99%, 1);

  --secondary-100: hsla(257, 21%, 27%, 1);
  --secondary-200: hsla(257, 18%, 36%, 1);
  --secondary-300: hsla(257, 20%, 45%, 1);
  --secondary-400: hsla(257, 25%, 67%, 1);
  --secondary-500: hsla(257, 39%, 68%, 1);
  --secondary-600: hsla(257, 48%, 78%, 1);
  --secondary-700: hsla(257, 66%, 90%, 1);
  --secondary-800: hsla(257, 100%, 96%, 1);
  --secondary-900: hsla(257, 45%, 98%, 1);

  --tertiary-100: hsla(210, 25%, 21%, 1);
  --tertiary-200: hsla(210, 33%, 26%, 1);
  --tertiary-300: hsla(210, 35%, 48%, 1);
  --tertiary-400: hsla(210, 40%, 58%, 1);
  --tertiary-500: hsla(210, 55%, 68%, 1);
  --tertiary-600: hsla(210, 68%, 78%, 1);
  --tertiary-700: hsla(210, 81%, 90%, 1);
  --tertiary-800: hsla(210, 100%, 96%, 1);
  --tertiary-900: hsla(210, 45%, 98%, 1);

  --accent-100: hsla(293, 28%, 21%, 1);
  --accent-200: hsla(293, 34%, 37%, 1);
  --accent-300: hsla(293, 34%, 50%, 1);
  --accent-400: hsla(293, 68%, 62%, 1);
  --accent-500: hsla(293, 62%, 71%, 1);
  --accent-600: hsla(293, 64%, 80%, 1);
  --accent-700: hsla(293, 67%, 90%, 1);
  --accent-800: hsla(293, 70%, 96%, 1);
  --accent-900: hsla(293, 45%, 98%, 1);

  --success-100: hsla(175, 28%, 21%, 1);
  --success-200: hsla(175, 33%, 30%, 1);
  --success-300: hsla(175, 62%, 37%, 1);
  --success-400: hsla(175, 52%, 46%, 1);
  --success-500: hsla(175, 66%, 68%, 1);
  --success-600: hsla(175, 68%, 78%, 1);
  --success-700: hsla(175, 81%, 80%, 1);
  --success-800: hsla(175, 100%, 72%, 1);
  --success-900: hsla(175, 100%, 90%, 1);

  --warning-100: hsla(39, 28%, 21%, 1);
  --warning-200: hsla(39, 22%, 51%, 1);
  --warning-300: hsla(39, 38%, 52%, 1);
  --warning-400: hsla(39, 50%, 66%, 1);
  --warning-500: hsla(39, 62%, 71%, 1);
  --warning-600: hsla(39, 64%, 80%, 1);
  --warning-700: hsla(39, 80%, 90%, 1);
  --warning-800: hsla(39, 100%, 96%, 1);
  --warning-900: hsla(39, 45%, 98%, 1);

  --caution-100: hsla(16, 28%, 21%, 1);
  --caution-200: hsla(16, 37%, 36%, 1);
  --caution-300: hsla(16, 47%, 48%, 1);
  --caution-400: hsla(16, 50%, 65%, 1);
  --caution-500: hsla(16, 66%, 68%, 1);
  --caution-600: hsla(16, 68%, 78%, 1);
  --caution-700: hsla(16, 81%, 90%, 1);
  --caution-800: hsla(16, 100%, 96%, 1);
  --caution-900: hsla(16, 45%, 98%, 1);

  --alert-100: hsla(348, 28%, 21%, 1);
  --alert-200: hsla(348, 37%, 36%, 1);
  --alert-300: hsla(348, 50%, 52%, 1);
  --alert-400: hsla(348, 55%, 67%, 1);
  --alert-500: hsla(348, 66%, 68%, 1);
  --alert-600: hsla(348, 68%, 78%, 1);
  --alert-700: hsla(348, 81%, 90%, 1);
  --alert-800: hsla(348, 100%, 96%, 1);
  --alert-900: hsla(348, 45%, 98%, 1);
}

.theme-dark input[type='checkbox'] {
  filter: invert(0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply break-words !important;
}

button:focus {
  outline: none;
}

.sticky {
  position: sticky !important;
}

.logo {
  width: 48px;
  height: 48px;
  position: relative;
  top: 1px;
  padding: 4px;
}

/**
 * Button styles
 */
.btn-class {
  @apply inline-flex px-2 rounded-sm font-600 uppercase text-center items-center min-w-16 justify-center border-2 !important;
  line-height: 14px; /* required because we were relying on the Chrome browser default of 14px earlier */
}

.btn-sm {
  @apply btn-class py-1 text-xs !important;
}

.btn {
  @apply btn-class py-2 text-sm !important;
}

.btn-icon {
  @apply flex py-2 px-2 rounded-sm font-600 uppercase text-center text-sm items-center justify-center bg-base-200 border !important;
}

.btn-success {
  @apply text-success-700 border-success-500 bg-success-200 !important;
}

.btn-success:hover {
  @apply btn-success bg-success-300 text-success-800 !important;
}

.btn-alert {
  @apply text-alert-100 border-alert-600 bg-alert-600 !important;
}

.btn-alert:hover {
  @apply btn-alert border-alert-700 bg-alert-700 !important;
}

.btn-primary {
  @apply border-primary-300 text-primary-600 !important;
}

.btn-primary:hover {
  @apply btn-primary bg-primary-100 bg-base-200 border-primary-400 !important;
}

.btn-tertiary {
  @apply border-tertiary-700 text-tertiary-700 !important;
}

.btn-tertiary:hover {
  @apply btn-tertiary bg-tertiary-700 bg-base-200 border-tertiary-600 !important;
}

.btn-base {
  @apply text-base-600 border-base-400 bg-base-100 !important;
}

.btn-base:hover {
  @apply btn-base bg-base-200 text-base-700 !important;
}
/** End of Button styles */

.top-navigation {
  box-shadow: inset 0px -1px 0 0 var(--base-400);
}

/**
 * tippy.js
 */
@import '~tippy.js/dist/tippy.css';

.rox-tooltip-overlay {
  @apply p-2 text-sm text-center text-base-600 z-10 bg-tertiary-200 rounded border border-tertiary-400;
}

.tippy-tooltip {
  --arrow-size: 7px; /* it's defined in tippy.css, just making it the same */
  --arrow-color: var(--tertiary-200);
  --arrow-border-color: var(--tertiary-400);
}

.tippy-content {
  @apply rounded shadow-md p-0;
}

.tippy-tooltip > .tippy-arrow:after,
.tippy-tooltip > .tippy-arrow:before {
  content: '';
  position: absolute;
  z-index: -1;
}

/* tippy arrow on the top */
.tippy-tooltip[data-placement^='top'] > .tippy-arrow {
  border-top-color: var(--arrow-color);
  bottom: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='top'] > .tippy-arrow:before {
  left: calc(-1 * var(--arrow-size));
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow:after {
  border-top: var(--arrow-size) solid var(--arrow-color);
  top: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='top'] > .tippy-arrow:before {
  border-top: var(--arrow-size) solid var(--arrow-border-color);
  bottom: -1px;
}

/* tippy-arrow at the bottom */
.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow {
  border-bottom-color: var(--arrow-color);
  top: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:before {
  left: calc(-1 * var(--arrow-size));
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:after {
  border-bottom: var(--arrow-size) solid var(--arrow-color);
  bottom: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='bottom'] > .tippy-arrow:before {
  border-bottom: var(--arrow-size) solid var(--arrow-border-color);
  bottom: calc(-1 * (var(--arrow-size) - 1px));
}

/* tippy-arrow on the left */
.tippy-tooltip[data-placement^='left'] > .tippy-arrow {
  border-left-color: var(--arrow-color);
  right: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='left'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='left'] > .tippy-arrow:before {
  top: calc(-1 * var(--arrow-size));
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='left'] > .tippy-arrow:after {
  border-left: var(--arrow-size) solid var(--arrow-color);
  left: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='left'] > .tippy-arrow:before {
  border-left: var(--arrow-size) solid var(--arrow-border-color);
  left: calc(-1 * (var(--arrow-size) - 1px));
}

/* tippy-arrow on the right */
.tippy-tooltip[data-placement^='right'] > .tippy-arrow {
  border-right-color: var(--arrow-color);
  left: calc(-1 * (var(--arrow-size) - 1px));
}

.tippy-tooltip[data-placement^='right'] > .tippy-arrow:after,
.tippy-tooltip[data-placement^='right'] > .tippy-arrow:before {
  top: calc(-1 * var(--arrow-size));
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
}

.tippy-tooltip[data-placement^='right'] > .tippy-arrow:after {
  border-right: var(--arrow-size) solid var(--arrow-color);
  right: calc(-1 * var(--arrow-size));
}

.tippy-tooltip[data-placement^='right'] > .tippy-arrow:before {
  border-right: var(--arrow-size) solid var(--arrow-border-color);
  right: calc(-1 * (var(--arrow-size) - 1px));
}
/** End of tippy.js styles */

.react-modal-overlay {
  @apply fixed top-0 left-0 w-full h-full z-60 !important;
  background-color: hsla(225, 41%, 32%, 0.82);
}
