.pf-v5-c-form__group-label {
  /* Some more padding for the form field label help icon */
  --pf-v5-c-form__group-label-help--MarginLeft: var(--pf-v5-global--spacer--sm);
}

.pf-v5-c-form__group {
  /* Some separation for form fields */
  margin-bottom: var(--pf-v5-global--spacer--md);
}

/* Remove padding from homepage bottom panel */
.home-page .pf-v5-c-drawer__body {
  --pf-v5-c-drawer--child--PaddingTop: 0;
  --pf-v5-c-drawer--child--PaddingLeft: 0;
  --pf-v5-c-drawer--child--PaddingBottom: 0;
  --pf-v5-c-drawer--child--PaddingRight: 0;
}

.pf-v5-c-form__label-text {
  text-transform: capitalize;
}

.rhacs-logo-hat {
  fill: #ee0000;
}

.rhacs-logo-hat-band {
  fill: #000000;
}

.rhacs-logo-text {
  fill: #ffffff;
}

/* LinkCard */

/* appear to be clickable */
a:hover>.pf-v5-c-panel {
  background-color: var(--pf-v5-global--BackgroundColor--200);
}

/* reset to regular font for LinkCard content */
a>.pf-v5-c-panel {
  font-weight: var(--pf-v5-global--FontWeight--normal);
}

/* LinkCard title */
a>.pf-v5-c-panel>.pf-v5-c-panel__header {
  font-weight: var(--pf-v5-global--FontWeight--bold);
  font-size: var(--pf-v5-global--FontSize--lg);
}

/* Form help popovers - rendered with react-markdown */

/* #, ##, ### */
.form-help h1,
h2,
h3 {
  font-weight: var(--pf-v5-global--FontWeight--bold);
  margin-bottom: var(--pf-v5-global--spacer--sm);
}

.form-help h1 {
  font-size: var(--pf-v5-global--FontSize--xl);
}

.form-help h2 {
  font-size: var(--pf-v5-global--FontSize--lg);
}

.form-help h3 {
  font-size: var(--pf-v5-global--FontSize--md);
}

/* A text block */
.form-help p {
  margin-bottom: var(--pf-v5-global--spacer--lg);
}

/* [link](url) */
.form-help a {
  color: var(--pf-v5-global--link--Color);
}

.form-help a:visited {
  color: var(--pf-v5-global--link--Color--visited);
}
