.pf-c-form__group-label {
  /* Some more padding for the form field label help icon */
  --pf-c-form__group-label-help--MarginLeft: var(--pf-global--spacer--sm);
}

.pf-c-form__group {
  /* Some separation for form fields */
  margin-bottom: var(--pf-global--spacer--md);
}

/* Remove padding from homepage bottom panel */
.home-page .pf-c-drawer__body {
  --pf-c-drawer--child--PaddingTop: 0;
  --pf-c-drawer--child--PaddingLeft: 0;
  --pf-c-drawer--child--PaddingBottom: 0;
  --pf-c-drawer--child--PaddingRight: 0;
}

.pf-c-form__label-text {
  text-transform: capitalize;
}

.rhacs-logo-hat {
  fill: #ee0000;
}

.rhacs-logo-hat-band {
  fill: #000000;
}

.rhacs-logo-text {
  fill: #ffffff;
}

/* LinkCard */

/* appear to be clickable */
a:hover > .pf-c-panel {
  background-color: var(--pf-global--BackgroundColor--200);
}

/* reset to regular font for LinkCard content */
a > .pf-c-panel {
  font-weight: var(--pf-global--FontWeight--normal);
}

/* LinkCard title */
a > .pf-c-panel > .pf-c-panel__header {
  font-weight: var(--pf-global--FontWeight--bold);
  font-size: var(--pf-global--FontSize--lg);
}
