{{- if not .Values.localDeploy }}
---

apiVersion: v1
kind: Secret
type: Opaque

metadata:
  name: google-credentials
  namespace: default

data:
  google-credentials.json: |-
    {{ required ".Values.gke__gke_provisioner_json is undefined" .Values.gke__gke_provisioner_json }}

---
{{- end }}
