apiVersion: apps/v1
kind: Deployment

metadata:
  name: infra-server-deployment
  namespace: infra
  labels:
    app.kubernetes.io/name: infra-server
    app.kubernetes.io/version: {{ .Values.tag }}
    app: infra-server

spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: infra-server

  template:
    metadata:
      namespace: infra
      labels:
        app.kubernetes.io/name: infra-server
        app: infra-server

    spec:
      containers:
        - name: infra-server
          image: quay.io/rhacs-eng/infra-server:{{ required "A valid .Values.tag entry is required!" .Values.tag }}
          env:
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /configuration/google-credentials.json
            - name: LOCAL_DEPLOY
              value: "{{ .Values.localDeploy }}"
            - name: TEST_MODE
              value: "{{ .Values.testMode }}"
          readinessProbe:
            httpGet:
              path: /
              port: 8443
              scheme: {{ if eq .Values.environment "local" }}HTTP{{ else }}HTTPS{{ end }}
            initialDelaySeconds: 5
            periodSeconds: 5
          command:
            - /infra-server
            - -config-dir
            - /configuration
          ports:
            - name: https
              containerPort: 8443
            - name: metrics
              containerPort: 9101
          imagePullPolicy: {{ .Values.imagePullPolicy | default "Always" }}
          volumeMounts:
            - mountPath: /configuration
              name: configuration
              readOnly: true

      volumes:
        - name: configuration
          secret:
            secretName: infra-server-secrets
      imagePullSecrets:
        - name: infra-image-registry-pull-secret
