{{- if not .Values.localDeploy }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gcs-credentials
  namespace: default
data:
  credentials.json: |-
    {{ required ".Values.google_credentials_json is undefined" .Values.google_credentials_json }}
{{- end }}
