{{- if not .Values.localDeploy }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: aws-access-secrets
  namespace: default
data:
  AWS_ACCESS_KEY_ID: |-
    {{ .Values.aws.accessKeyId | b64enc }}
  AWS_SECRET_ACCESS_KEY: |-
    {{ .Values.aws.secretAccessKey | b64enc }}
{{- end }}
