name: Lint

on:
  workflow_call:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker://rhysd/actionlint:1.6.21
        with:
          args: -color

  golint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9

  go-version-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check Go version synchronization
        run: |
          make check-needs-sync-go-version

  shellcheck:
    runs-on: ubuntu-latest
    container:
      image: quay.io/stackrox-io/apollo-ci:stackrox-test-0.4.4
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Ignore dubious repository ownership
        run: |
          # Prevent fatal error "detected dubious ownership in repository" from
          # the recent git in this container.
          git config --global --add safe.directory "$(pwd)"
      - name: Shellcheck
        run: |
          make shellcheck
